body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.pokeball {
  position: absolute;
  top: 8px;
  left: 0px;
  opacity: 0.6;
  height: 120px;
}

.post {
  overflow: hidden;
  padding-left: 100px;
}
