.menu {
  float: left;
}

.MuiButton-root {
  color: #fff !important;
  line-height: 1.2 !important;
  text-transform: none !important;
  font-size: 0.99rem;
}

.MuiMenu-paper{
  margin-top: 40px !important;
}

.MuiMenuItem-root {
  font-size: 1rem !important;
  width: 200px !important;
}

.menu-icon {
  color: rgba(0, 0, 0, .5);
  padding-right: 2px;
  margin: 4px;
}

.caret-icon {
  color: #fff;
  margin-left: 2px;
}

.menu-link {
  color: rgba(0, 0, 0, .8);
}

.MuiSvgIcon-root {
  font-size: 1.2rem !important;
}