.react-form {
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 4px;
    padding: 50px;
}

.react-form-input {
    padding-bottom: 16px;
    min-width: 500px;
}

.hide {
    display: none;
}
